<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main class="container">
  <h1 class="my-3"><%= title %></h1>
  <%# This is where our message creation form will go %> 
  <form action="/posts" method="POST">
    <h2>
      Write a Post
    </h2>
    <div class="mb-3 mx-5">
      <label for="title-input" class="form-label">Title</label>
      <input 
        type="text" 
        class="form-control" 
        id="title-input" 
        placeholder="Your title"
				name="title"
      >
    </div>
    <div class="mb-3 mx-5">
      <label for="post-content" class="form-label">Post</label>
      <textarea name="content" class="form-control" id="post-content" rows="5"></textarea>
    </div>
    <button class="btn btn-primary ms-5" type="submit">Create Post</button>
  </form>
  <h2 class="my-3">Board posts</h2>
  <%# This is where we'll loop over messages to display them %> 
  <% post.forEach((post, idx) => { %>
    <section class="p-4 p-md-5 mb-4 text-white rounded bg-dark mx-4">
      <div class="col-md-8 text-light" px-0>
        <a 
          href="/posts/<%= post._id %>" 
          class="text-decoration-none text-light"
        >
          <h3 class="fs-1 fst-italic"><%= post.title %></h3>
        </a>
        <h4 class="mb-0 fs-5 fst-italic">
          written by 
          <a 
            href="/profiles/<%= post.author._id %>"
            class="text-decoration-none text-light"
          >
            <%= post.author.name %>
            <img
              src="<%= post.author.avatar %>"
              class="img-fluid rounded-circle"
              alt="<%= post.author.name %>'s avatar"
              height="35"
              width="35"
            />
          </a>
        </h4>
        <p class="fs-7 fst-italic">
          on <%= post.createdAt.toLocaleDateString() %>
        </p>
        <p class="lead my-3"><%= post.content %> </p>
        <p>
          <a
            class="text-decoration-none text-light"
            href="/posts/<%= post._id %>"
          >
            Keep reading...
          </a>
        </p>
      </div>
    </section>
  <% }) %>
</main>
<%- include('../partials/footer') %