<%- include('../partials/html-head.ejs') %>

<%- include('../partials/nav.ejs') %>

<main class="container">
  <h1 class="my-3"><%= title %></h1>
  <%# This is where our message creation form will go %> 
  <form action="/posts" method="POST">
    <h2>
      Write a Post
    </h2>
    <div class="mb-3 mx-5">
      <label for="title-input" class="form-label">Title</label>
      <input 
        type="text" 
        class="form-control" 
        id="title-input" 
        placeholder="Your title"
				name="title"
      >
    </div>
    <div class="mb-3 mx-5">
      <label for="post-content" class="form-label">Post</label>
      <textarea name="content" class="form-control" id="post-content" rows="5"></textarea>
    </div>
    <button class="btn btn-primary ms-5" type="submit">Create Post</button>
  </form>
  <h2 class="my-3">Board posts</h2>
  <%# This is where we'll loop over messages to display them %> 
  <% posts.forEach((post, idx) => { %>
    <section class="p-4 p-md-5 mb-4 text-white rounded bg-dark mx-4">
      <div class="col-md-8 text-light" px-0>
        <a 
          href="/messages/<%= post._id %>" 
          class="text-decoration-none text-light"
        >
          <h3 class="fs-1 fst-italic"><%= post.title %></h3>
        </a>
        <h4 class="mb-0 fs-5 fst-italic">
          written by 
          
          </a>
        </p>
      </div>
    </section>
  <% }) %>
</main>
<%- include('../partials/footer.ejs') %>